@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
  url(../fonts/Roboto-Regular.woff) format('woff'),
  url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body,
.header,
.nav,
.footer {
  margin: 0 auto;
}

.header,
.footer {
  max-width: 1000px;
}

body {
  background-color: #1976D5;
  max-width: 1280px;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header {
  background-color: #C1C1C1;
  padding: 40px 0;
  line-height: 100%;
  margin-bottom: 20px;
}

.nav {
  margin-bottom: 20px;
  padding: 2px 0 3px;
  background-color: #EB1E63;
  max-width: 1000px;
  line-height: 100%;
}

.aside {
  background-color: #3A3E47;
  display: inline-block;
  max-width: 360px;
  line-height: 100%;
  padding: 21px 20px 30px;
}

.figure {
  background-color: #637B8B;
  margin: 0;
  padding: 19px 20px 28px;
}

.image {
  background-color: #85D32C;
  min-height: 350px;
  margin-top: 12px;
  padding: 5px 76px 0;
}

.main,
.section,
.article {
  width: 100%;
}

.main {
  background-color: #6BB01A;
  vertical-align: top;
  display: inline-block;
  max-width: 620px;
  padding: 11px 20px 20px;
  margin-bottom: 20px;
  line-height: 79px;
}

.section {
  background-color: #FFC10A;
  padding: 82px 0 15px;
  display: inline-block;
  vertical-align: 35px;
}

.button {
  background-color: #4176FF;
  display: block;
  margin: 8px auto 0;
  padding: 6px 37px;
  border: 1px solid transparent;
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  text-transform: uppercase;
}

.article {
  background-color: #FF800A;
  padding: 82px 0 74px;
}

.footer {
  background-color: #000;
  padding: 40px 0 28px;
  margin: 0 auto;
}




