@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url(../fonts/HelveticaNeueCyr-UltraLight.woff2) format('woff2'),
       url(../fonts/HelveticaNeueCyr-UltraLight.woff) format('woff'),
       url(../fonts/HelveticaNeueCyr-UltraLight.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url(../fonts/HelveticaNeueCyr-Light.woff2) format('woff2'),
       url(../fonts/HelveticaNeueCyr-Light.woff) format('woff'),
       url(../fonts/HelveticaNeueCyr-Light.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url(../fonts/HelveticaNeueCyr-Medium.woff2) format('woff2'),
       url(../fonts/HelveticaNeueCyr-Medium.woff) format('woff'),
       url(../fonts/HelveticaNeueCyr-Medium.ttf) format('truetype');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url(../fonts/HelveticaNeueCyr-Bold.woff2) format('woff2'),
       url(../fonts/HelveticaNeueCyr-Bold.woff) format('woff'),
       url(../fonts/HelveticaNeueCyr-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.woff2) format('woff2'),
       url(../fonts/OpenSans-Regular.ttf.woff) format('woff'),
       url(../fonts/OpenSans-Regular.ttf.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeue.woff2) format('woff2'),
       url(../fonts/HelveticaNeue.woff) format('woff'),
       url(../fonts/HelveticaNeue.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul, li {
  list-style: none;
}

a {
 text-decoration: none;
}


/* HEADER */

.wrapper {
  margin-bottom: 133px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-opacity {
  background: rgba(255, 255, 255, 0.8);
}


.header__inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.8);
}

.header__logo {
  margin-top: 29px;
  transition: all 0.3s ;
}

.header__logo:hover {
  transform: scale(1.1);
}

.menu__items {
  display: flex;
  padding: 51px 0;
  margin: 0;
  font-family: 'HelveticaNeueCyr-Medium';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.menu__item + .menu__item {
  margin-left: 39px;
}

.menu__item-link {
  color: #00A9FF;
  /* transition не выставил, так как даже при нем подчеркивание при ховере появляется резко*/
}


.menu__item-link:hover {
  text-decoration-line: underline;
}

.menu__item-link--active,
.menu__item-link:active {
  text-decoration: none;
  color: #0080FF;
}

.search__content {
  position: relative;
  width: 19%;
}

.search__content-field {
  width: 100%;
  margin: 40px 0;
  padding: 7px 50px 7px 20px;
  font-family: 'OpenSans-Regular';
  border: 2px solid #1EBFFA;
  border-radius: 4px;
  line-height: 16px;
  overflow: hidden;
}

.search__content-field::-webkit-search-cancel-button {
  display: none;
}

.search__content-field:focus,
.search__content-field:active {
  outline: transparent;
  border-color: #0080FF;
}

.search__content-field, 
.search__content-field::placeholder {
  color: #00A9FF;
  font-size: 16px; 
}

.search__content-icon {
  position: absolute;
  background: none;
  /* border: none; */
  top: 45px;
  right: 14px;
  transition: 0.3s;
  cursor: pointer;
  stroke: #1EBFFA;
}

.search__content-icon:hover {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
  stroke: #00A9FF;
}

.search__content-icon:focus,
.search__content-icon:active {
  outline: transparent;
  border: transparent;
  stroke: #0080FF;
}

/* HEADER */

/* BLOCK */

.block__inner {
  min-height: 824px;
  display: flex;
  align-items: center;
}

.block__item {
  max-width: 41%;
  margin-left: 17%;
  margin-bottom: 140px;
}

.block__title {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: calc(46px + 14 * (100vw / 1905));
  line-height: 72px;
  text-align: justify;
  color: #00A9FF;
  margin-bottom: 16px;
}

.block__text {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #353535;
  word-spacing: 6px;
  margin-bottom: 34px;
}

.block__button {
  border: transparent;
  
  background: #00A9FF;
  border-radius: 2px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 12px 27px;
  text-transform: uppercase;
  transition: 0.3s;
}

.block__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
}

.block__button:focus {
  outline: transparent;
  border: transparent;
  box-shadow: 0px 0px 7px 0px rgba(0, 169, 255, 1);
}

.block__button:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BLOCK */

/* PRODUCTS */

.products {
  margin-bottom: 137px;
}

.products__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.products__title {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 48px;
  letter-spacing: 2px;
  color: #353535;
  font-weight: 300;
}

.products__link {
  padding-top: 25px;
  text-decoration: underline;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 24px;
  line-height: 24px;
  color: #00A9FF;
  letter-spacing: 2px;
  transition: 0.3s;
}

.products__link:hover {
  text-decoration-line: none;
}

.products__link:active {
  color: #0080FF;
}

/* Если кнопки не видны при выносе за пределы контейнера, тогда добавьте дополнительную обёртку для Swiper с добавлением position: relative и вложите кнопки и сам Swiper в этот контейнер. По дефолту кнопки навигации имеют абсолютное позиционирование и если не менять стили, нужно чтобы у них был родитель с position: relative для адекватного отображения. А дальше останется только настроить положение кнопок и всё.  */
.products__swiper {
  position: relative;
}

.swiper-container {
  max-width: 1560px;
  padding: 0 15px;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.swiper-slide {
  max-width: 358px; /* без приставки max блоки становятся на 2 пикселя шире за счет бордера и крайний правый блок прячет правый бордер */
  min-height: 414px;
  background: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  text-align: center;
}

.swiper-slide,
.swiper__img {
  transition: border 0.3s;
}

.swiper-slide:hover,
.swiper__img:hover {
  border-color:#1EBFFA;
}

.swiper__img {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 32px;
}

.swiper__item-name {
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #00A9FF;
}

.swiper__price {
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #353535;
}

.swiper-slide__link {
  text-transform: uppercase;
  padding: 9px 31px;
  background-color: #00A9FF;
  border-radius: 2px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  transition: 0.3s;
}

.swiper-slide__link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.swiper-slide__link:focus {
  border: 3px solid rgba(0, 169, 255, 0.4);
}

.swiper-slide__link:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev, 
.swiper-button-next { 
  top: 42%;
  height: 90px;
  width: 90px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 50%;
}

.swiper-button-prev:focus, 
.swiper-button-next:focus {
  outline: transparent;
  box-shadow:0px 0px 7px 0px rgba(0, 169, 255, 1);
}

.swiper-button-prev {
  left: 66px;
}

.swiper-button-next {
  right: 66px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: url('../images/arrow-prev.svg');
}

.swiper-button-next:after {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* PRODUCTS */




/* SUBSCRIBE */

.subs__inner {
  min-height: 335px;
  background: linear-gradient(270deg, #00A9FF 27.66%, #1EBFFA 77.14%), #C4C4C4;
}

.subs__title {
  text-align: center;
  padding-top: 82px;
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 48px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-bottom: 47px;
}

.form-subs {
  text-align: center;
}

.form-subs__email {
  max-width: 359px;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  padding: 17px 0 17px 20px;
}

.form-subs__email,
.form-subs__email::placeholder {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.form-subs__submit {
  max-width: 359px;
  width: 100%;
  margin-left: 30px;
  padding: 20px 0;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;

  text-transform: uppercase;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #00A9FF;
}

/* SUBSCRIBE */



/* FOOTER */

.footer__inner {
  display: flex;
  justify-content: center;
  padding: 68px 0;
}

.footer__link {
  width: 100px;
  height: 100px;
  padding: 25px 0;
  background-color: #1EBFFA;
  border-radius: 50%;
  text-align: center;
}

.footer__link + .footer__link {
  margin-left: 30px;
}

.footer__link-icon {
  opacity: 0.8;
}

.footer__link-icon:hover {
  opacity: 1;
}



/* FOOTER */